{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{% static 'bootstrap/css/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            href="{% static 'fontawesome/css/all.min.css' %}"
        />
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <link
            rel="stylesheet"
            href="{% static 'bootstrap/css/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            href="{% static 'fontawesome/css/all.min.css' %}"
        />
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <title>Tela Inicial | FlightOps</title>
    </head>
    <body>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">FlightOps</a>
            </div>
        </nav>
        <h1>Seja muito bem vindo à FlightOps!</h1>
        <ul>
            <li><strong>F</strong>erramenta</li>
            <li><strong>L</strong>igeiramente</li>
            <li><strong>I</strong>nteligente para</li>
            <li><strong>G</strong>estão de</li>
            <li><strong>H</strong>orários e</li>
            <li><strong>T</strong>rajetos</li>
            <li><strong>O</strong>peracionais e</li>
            <li><strong>P</strong>restação de</li>
            <li><strong>S</strong>erviços</li>
        </ul>
        <h2>Selecione a opção que você deseja acessar:</h2>
        <div>
            <button class="button">
                <a href="administrar/">Opções CRUD</a>
            </button>
            <button class="button">
                <a href="monitorar/">Monitoração</a>
            </button>
            <button class="button">
                <a href="relatorios/">Relatórios</a>
            </button>
        </div>
    </body>
</html>
