{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            rel="icon"
            href="https://yt3.ggpht.com/ytc/AMLnZu80FStsJ8x_OVaY9chU1OiJna80kKBJTPpF5Vwb4w=s900-c-k-c0x00ffffff-no-rj"
        />
        <link
            rel="stylesheet"
            href="{% static 'bootstrap/css/bootstrap.min.css' %}"
        />
        <title>Atualizar Voo | FlightOps</title>
        <style>
            table {
                margin-top: 20px;
            }
            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
                font-size: small;
            }
            button {
                border-radius: 10px;
                background-color: #cecccc;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">FlightOps</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/administrar/">
                            Administração
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/monitorar/">Monitoração</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/relatorio/">Relatórios</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}
        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <br />
                    <h2 style="font-weight: 300">Informações do Voo ABC0123</h2>
                    <br />
                    <table>
                        <tr>
                            <th>Código de Voo</th>
                            <th>Origem</th>
                            <th>Conexões</th>
                            <th>Destino</th>
                            <th colspan="2">Previsão de Partida</th>
                            <th colspan="2">Previsão de Chegada</th>
                        </tr>
                        <tr>
                            <td>
                                <input
                                    type="text"
                                    placeholder="ABC0123"
                                    value="ABC0123"
                                />
                            </td>
                            <td>
                                <input
                                    style="max-width: 50%"
                                    type="text"
                                    placeholder="POA"
                                    value="POA"
                                />
                            </td>
                            <td>
                                <input
                                    type="text"
                                    placeholder="GRU"
                                    value="GRU"
                                />
                            </td>
                            <td>
                                <input
                                    style="max-width: 50%"
                                    type="text"
                                    placeholder="SSA"
                                    value="SSA"
                                />
                            </td>
                            <td>
                                <input
                                    type="date"
                                    placeholder="2022-11-11"
                                    value="2022-11-11"
                                />
                            </td>
                            <td>
                                <input
                                    type="time"
                                    placeholder="23:58"
                                    value="23:58"
                                />
                            </td>
                            <td>
                                <input
                                    type="date"
                                    placeholder="2022-11-12"
                                    value="2022-11-12"
                                />
                            </td>
                            <td>
                                <input
                                    type="time"
                                    placeholder="08:03"
                                    value="08:03"
                                />
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />
                    <a href=".."
                        ><button class="button">
                            Confirmar Atualização
                        </button></a
                    >

                    <br />
                    <br />
                    <a href=".."><button class="button">Retornar</button></a>
                </div>
            </div>
        </main>
        {% endblock content %}

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script>
            window.jQuery ||
                document.write(
                    '<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>'
                );
        </script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
    </body>
</html>
