{% extends "registration/base.html" %} {% block content %}

<div class="login-form">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input
            type="submit"
            style="margin-top: 10px"
            class="btn-black"
            value="Realizar Login"
        />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
<div style="margin: 20px">
    {% if form.errors %}
    <p>Sua senha está incorreta. Por favor, verifique-a e tente novamente.</p>
    {% endif %} {% if user.is_authenticated %}
    <div>
        <p>
            Sua conta não possui permissão para acessar esta página. Por favor,
            realize o login com uma conta que apresente esta permissão.
        </p>
    </div>

    <div>
        <a href="/" class="btn-black">
            <button class="btn-black" style="margin-top: 10px">Retornar</button>
        </a>
    </div>
    {% else %}
    <p>Por favor realize o login para acessar a ferramenta.</p>
    {% endif %}
</div>
{% endblock content %}
