{% extends "html_base.html" %} {% block navbar %}
<li class="nav-item active">
    <a class="nav-link" href="/administrar/"> Administração </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/monitorar/">Monitoração</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/relatorio/">Relatórios</a>
</li>

{% endblock navbar %} {% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <br />
            <h2 style="font-weight: 300">Informações do Voo ABC0123</h2>
            <br />
            <table>
                <tr>
                    <th>Código de Voo</th>
                    <th>Origem</th>
                    <th>Conexões</th>
                    <th>Destino</th>
                    <th colspan="2">Previsão de Partida</th>
                    <th colspan="2">Previsão de Chegada</th>
                </tr>
                <tr>
                    <td>
                        <input
                            type="text"
                            placeholder="ABC0123"
                            value="ABC0123"
                        />
                    </td>
                    <td>
                        <input
                            style="max-width: 50%"
                            type="text"
                            placeholder="POA"
                            value="POA"
                        />
                    </td>
                    <td>
                        <input type="text" placeholder="GRU" value="GRU" />
                    </td>
                    <td>
                        <input
                            style="max-width: 50%"
                            type="text"
                            placeholder="SSA"
                            value="SSA"
                        />
                    </td>
                    <td>
                        <input
                            type="date"
                            placeholder="2022-11-11"
                            value="2022-11-11"
                        />
                    </td>
                    <td>
                        <input type="time" placeholder="23:58" value="23:58" />
                    </td>
                    <td>
                        <input
                            type="date"
                            placeholder="2022-11-12"
                            value="2022-11-12"
                        />
                    </td>
                    <td>
                        <input type="time" placeholder="08:03" value="08:03" />
                    </td>
                </tr>
            </table>
            <div>
                <a class="btn btn-secondary button azul" href=".." role="button">
                    Confirmar Atualização
                </a>
            </div>
            <div>
                <a class="btn btn-secondary button" href=".." role="button">
                    Retornar
                </a>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
