{% extends "html_base.html" %} {% block navbar %}
<li class="nav-item active">
    <a class="nav-link" href="/administrar/"> Administração </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/monitorar/">Monitoração</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/relatorio/">Relatórios</a>
</li>

{% endblock navbar %} {% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <br />
            <h2 style="font-weight: 300">
                Insira abaixo as informações do voo
            </h2>
            <br />
            <form action="/administrar/cadastrar/" method = "POST" style="width: 80%; height: 100%">
                {% csrf_token %}
                <div class="mb-3 container">
                    <div class="row">
                        <div class="col">
                            <label
                                for="inputCodigoVooCadastrar"
                                class="form-label"
                            >
                                Código de Voo
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                name="codigo_de_voo"
                                id="inputCodigoVooCadastrar"
                            />
                        </div>
                    </div>
                </div>

                <div class="mb-3 container">
                    <div class="row">
                        <div class="col">
                            <label for="inputOrigemCadastrar" class="form-label">
                                Origem
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                name="aeroporto_origem"
                                id="inputOrigemCadastrar"
                            />
                        </div>

                        <div class="col">
                            <label for="inputDestinoCadastrar" class="form-label">
                                Conexoes
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                name="conexoes"
                                id="inputConexoesCadastrar"
                            />
                        </div>

                        <div class="col">
                            <label for="inputDestinoCadastrar" class="form-label">
                                Destino
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                name="aeroporto_destino"
                                id="inputDestinoCadastrar"
                            />
                        </div>
                    </div>
                </div>

                <div class="mb-3 container">
                    <div class="row">
                        <div class="col">
                            <label for="inputDataPartidaCadastrar" class="form-label">
                                Data Partida Previsão
                            </label>
                            <input
                                type="date"
                                class="form-control"
                                name="data_partida_previsao"
                                id="inputDataPartidaCadastrar"
                            />
                        </div>

                        <div class="col">
                            <label for="inputHorarioPartidaCadastrar" class="form-label">
                                Horário Partida Previsao
                            </label>
                            <input
                                type="time"
                                class="form-control"
                                name="horario_partida_previsao"
                                id="inputHorarioPartidaCadastrar"
                            />
                        </div>
                    </div>
                </div>

                <div class="mb-3 container">
                    <div class="row">
                        <div class="col">
                            <label for="inputDataPartidaCadastrar" class="form-label">
                                Data Chegada Previsao
                            </label>
                            <input
                                type="date"
                                class="form-control"
                                name="data_chegada_previsao"
                                id="inputDataPartidaCadastrar"
                            />
                        </div>
                        <div class="col">
                            <label for="inputHorarioChegadaCadastrar" class="form-label">
                                Horário Chegada Previsao
                            </label>
                            <input
                                type="time"
                                class="form-control"
                                name="horario_chegada_previsao"
                                id="inputHorarioChegadaCadastrar"
                            />
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary button">Cadastrar voo</button>
                </div>
                <div>
                    <a class="btn btn-secondary button" href="/" role="button">
                        Retornar
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>

{% if voo %}
    <div class="alert alert-success" role="alert">
      Voo criado com sucesso!
    </div>
    {% endif %} 
    {% if erro %}
    <div class="alert alert-danger" role="alert">
      {{erro}}
    </div>
{% endif %} 

{% endblock content %}
