{% extends "html_base.html" %} {% block navbar %}
<li class="nav-item active">
    <a class="nav-link" href="/administrar/"> Administração </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/monitorar/">Monitoração</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/relatorio/">Relatórios</a>
</li>

{% endblock navbar %} {% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <br />
            <h2 style="font-weight: 300">
                Insira abaixo as informações do voo
            </h2>
            <br />
            Código de Voo <input type="text" placeholder="ABC0123" />
            <br />
            <br />
            Rota entre origem e destino
            <ul>
                <li>Origem: <input type="text" placeholder="POA" /></li>
                <li>Conexões: <input type="text" placeholder="GRU" /></li>
                <li>Destino: <input type="text" placeholder="SSA" /></li>
            </ul>
            <br />
            Partida
            <ul>
                <li>
                    Data Prevista
                    <input type="date" placeholder="2022-11-11" />
                </li>
                <li>
                    Horário Previsto
                    <input type="time" placeholder="23:58" />
                </li>
            </ul>
            <br />
            Chegada
            <ul>
                <li>
                    Data Prevista
                    <input type="date" placeholder="2022-11-12" />
                </li>
                <li>
                    Horário Previsto
                    <input type="time" placeholder="08:03" />
                </li>
            </ul>
            <div>
                <a class="btn btn-secondary button" href=".." role="button">
                    Cadastrar Voo
                </a>
            </div>
            <div>
                <a class="btn btn-secondary button" href=".." role="button">
                    Retornar
                </a>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
