{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            rel="icon"
            href="https://yt3.ggpht.com/ytc/AMLnZu80FStsJ8x_OVaY9chU1OiJna80kKBJTPpF5Vwb4w=s900-c-k-c0x00ffffff-no-rj"
        />
        <link
            rel="stylesheet"
            href="{% static 'bootstrap/css/bootstrap.min.css' %}"
        />
        <title>Remover Voo | FlightOps</title>
        <style>
            table {
                margin-top: 20px;
            }
            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
                padding: 0 15px;
            }
            button {
                border-radius: 10px;
                background-color: #cecccc;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/home">FlightOps</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/administrar/">
                            Administração
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/monitorar/">Monitoração</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/relatorio/">Relatórios</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <br />
                    <h2 style="font-weight: 300">
                        Você tem certeza que deseja remover o voo abaixo?
                    </h2>
                    <h4>Ele será apagado para sempre (um tempo muito longo)</h4>
                    <br />
                    <table>
                        <tr>
                            <th>Código de Voo</th>
                            <th>Origem</th>
                            <th>Conexões</th>
                            <th>Destino</th>
                            <th colspan="2">Previsão de Partida</th>
                            <th colspan="2">Previsão de Chegada</th>
                        </tr>
                        <tr>
                            <td>ABC0123</td>
                            <td>POA</td>
                            <td>GRU</td>
                            <td>SSA</td>
                            <td>11/11/2022</td>
                            <td>23:58</td>
                            <td>12/11/2022</td>
                            <td>08:03</td>
                        </tr>
                    </table>
                    <br />
                    <br />
                    <a href=".."><button class="button">Remover Voo</button></a>

                    <br />
                    <br />
                    <a href=".."><button class="button">Retornar</button></a>
                </div>
            </div>
        </main>

        <!-- <footer class="container">
            <p>© FlightOps 2022</p>
        </footer> -->
    </body>
</html>
