{% extends "../registration/html_base.html" %} {% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <br />
            <h2 style="font-weight: 300">Informações do Voo ABC0123</h2>
            <table>
                <tr>
                    <th>Código de Voo</th>
                    <th>Origem</th>
                    <th>Conexões</th>
                    <th>Destino</th>
                    <th colspan="2">Previsão de Partida</th>
                    <th colspan="2">Previsão de Chegada</th>
                </tr>
                <tr>
                    <td>ABC0123</td>
                    <td>POA</td>
                    <td>GRU</td>
                    <td>SSA</td>
                    <td>11/11/2022</td>
                    <td>23:58</td>
                    <td>12/11/2022</td>
                    <td>08:03</td>
                </tr>
            </table>
            <br />
            <a href=".."><button class="button">Retornar</button></a>
        </div>
    </div>
</main>

{% endblock content %}
