{% extends "../registration/html_base.html" %} {% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <br />
            <h2>Selecione a opção que você deseja acessar:</h2>
            <br />
            <div>
                <a href="cadastrar">
                    <button class="button">Cadastrar Novo Voo</button>
                </a>

                <br />
                <a href="consultar/codigoDeVoo">
                    <button class="button">Consultar Voo</button>
                </a>

                <br />
                <a href="atualizar/codigoDeVoo">
                    <button class="button">Atualizar Voo</button>
                </a>

                <br />
                <a href="remover/codigoDeVoo"
                    ><button class="button">Remover Voo</button>
                </a>

                <br />
                <br />
                <a href="/"><button class="button">Retornar</button> </a>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
