{% extends "../registration/html_base.html" %} {% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <br />
            <h2 style="font-weight: 300">
                Por favor, insira abaixo o código de voo
            </h2>
            <br />
            <input type="text" />
            <a href="."><button class="button">Avançar</button></a>

            <br />
            <br />
            <a href=".."> <button class="button">Retornar</button></a>
        </div>
    </div>
</main>

{% endblock content %}
