{% extends "html_base.html" %} {% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="/administrar/"> Administração </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/monitorar/">Monitoração</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/relatorio/">Relatórios</a>
</li>

{% endblock navbar %} {% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container" style="width: 80%">
            <h2 style="font-weight: 300">Atualização realizada com sucesso</h2>
            <br />
            <p class="lead-lg">
                <strong> Estado do voo: </strong>
                Cancelado
            </p>

            <br />
            <div>
                <a class="btn btn-secondary button" href="/" role="button">
                    Retornar à Tela Inicial
                </a>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
