{% extends "../registration/html_base.html" %} {% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container" style="width: 80%">
            <h2 style="font-weight: 300">Atualização realizada com sucesso</h2>
            <br />
            <p class="lead-lg">
                <strong> Estado do voo: </strong>
                Cancelado
            </p>

            <br />
            <a href="/">
                <button type="button" class="button">
                    Retornar à Tela Inicial
                </button>
            </a>
        </div>
    </div>
</main>

{% endblock content %}
