{% extends "html_base.html" %} {% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="/administrar/"> Administração </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/monitorar/">Monitoração</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/relatorio/">Relatórios</a>
</li>

{% endblock navbar %}{% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h2 style="font-weight: 300">Informe o código de voo:</h2>
            <form style="width: 80%; height: 100%">
                <div class="mb-5 container">
                    <label for="inputCodigoVooRelatorio" class="form-label">
                        Código de Voo
                    </label>
                    <input
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="ABC0123"
                        value="ABC0123"
                        id="inputCodigoVooRelatorio"
                        style="max-width: 25%"
                    />
                </div>
                <div>
                    <a
                        class="btn btn-secondary button"
                        href="/monitorar/voo"
                        role="button"
                    >
                        Monitorar Voo
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock content %}
