{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            rel="icon"
            href="https://yt3.ggpht.com/ytc/AMLnZu80FStsJ8x_OVaY9chU1OiJna80kKBJTPpF5Vwb4w=s900-c-k-c0x00ffffff-no-rj"
        />
        <link
            rel="stylesheet"
            href="{% static 'bootstrap/css/bootstrap.min.css' %}"
        />
        <title>Monitoração | FlightOps</title>
        <style>
            button {
                border-radius: 10px;
                background-color: #cecccc;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/home">FlightOps</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/administrar/">
                            Administração
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/monitorar/">Monitoração</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/relatorio/">Relatórios</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <h2 style="font-weight: 300">Informe o código de voo:</h2>
                    <form style="width: 80%; height: 100%">
                        <div class="mb-5 container">
                            <label
                                for="inputCodigoVooRelatorio"
                                class="form-label"
                            >
                                Código de Voo
                            </label>
                            <input
                                type="text"
                                class="form-control form-control-lg"
                                placeholder="ABC0123"
                                value="ABC0123"
                                id="inputCodigoVooRelatorio"
                                style="max-width: 25%"
                            />
                        </div>
                        <a href="/monitorar/voo">
                            <button type="button" class="button">
                                Monitorar Voo
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </main>

        <!-- <footer class="container">
            <p>© FlightOps 2022</p>
        </footer> -->
    </body>
</html>
